<app-card titulo="app-home" cor = #3D4D63>
    <app-home></app-home>
</app-card>

<app-card titulo="app-two-way" cor = #3D4D63>
    <app-two-way></app-two-way>
</app-card>

<app-card titulo="app-pipe-customizado" cor = #3D4D63>
    <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="app-renderizando-listas" cor = #3D4D63>
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="app-componente-personalizado" cor = #3D4D63>
    <app-componente-personalizado nome = "rodrigo" sobrenome = "willians"></app-componente-personalizado>
    <app-componente-personalizado nome = "Senhor" sobrenome = "Saraiva"></app-componente-personalizado>
</app-card>

<app-card titulo="app-pai e filho" cor = #3D4D63>
    <app-pai></app-pai>
</app-card>

<app-card titulo="app-exemplo-servicos" cor = #3D4D63>
    <app-exemplo-servicos1></app-exemplo-servicos1>
    <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card titulo="app-ciclo-de-vida" cor = #3D4D63>
    <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>


